*{
    margin:0;
    padding:0;

}
.chessboard{
    width:100%;
    height:100%;
    flex-wrap: wrap;
    display:flex;

}
.App{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.76);

}
.new{
    width:650px;
    height:650px;
}
.sq{
    width:12.5%;
    height:12.5%;
}
.square-dark{
    background-color: rgba(195, 203, 214, 0.96);
}
.square-light{
    background-color: rgb(69, 116, 182);
}
.fret{
    height:100%;
    width:100%;
}
.piece-container{
  cursor:grab;
  width:100%;
  height:100%;
  align-items: center;
  justify-content: center;
  display:flex;
}
.piece-design{

   max-width: 100%;
   max-height: 100%;
  }
 
 .white-class{
    margin-top: -60px;
 }
 .dark-class{
    margin-top: 80px;
 }

 .reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #bb8041;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
  }
  
  .reset-button:hover {
    background-color: #bc6954;
  }
  
  .chessboard12{
    display: flex;
   margin-left:-70px;
   
  }